.hardwarespecs-container {
  margin-top: 50px;
  color: var(--text-color);
  background-color: transparent;
  border-radius: 7px;
  width: 250px;
  text-align: center;
  border: 1px solid rgb(207, 207, 207);
  height: max-content;
  h1 {
    margin: 0;
    padding: 0;
  }
}
