.header {
  display: flex;
  padding: 10px 20px;
  flex-shrink: 0;
  align-items: center;
  img {
    max-height: 50px;
  }
  .link-container {
    justify-content: space-evenly;
    margin-left: auto;
    .link-item {
      padding: 0 10px;
      color: var(--dark-text);
      &:hover {
        color: rgb(0, 87, 0);
        //color: rgb(59, 59, 59);
      }
    }
    .theme-button {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
