.exchangecard-container {
  border: 1px solid rgb(207, 207, 207);
  border-radius: 7px;
  margin-top: 150px;
  padding: 10px 10px 30px 10px;
  min-width: max-content;
  height: max-content;
  text-align: center;
  .exchange-link {
    color: var(--text-color);
    &:hover {
      color: var(--accent);
    }
  }
}
