.marketdata-container {
  height: 100%;
  text-align: center;
  .marketdata-table {
    border-collapse: collapse;
    width: 100%;
    tbody {
      .market-row{
        border-bottom: 1px rgb(207, 207, 207) solid;
        td {
          .coin-image {
            max-width: 25px;
          }
        }
        .positive {
          color: green;
        }
        .negative {
          color: red;
        }
        &:hover {
          background-color: bisque !important;
          cursor: pointer;
        }
      }
    }
  }
}
